{% extends 'layout.html.twig' %}

{% block contents %}
    {% for book in book %}
    <span><h2>Fiche livre : {{ book.titre }} </h2></span><br>
     {% if book.image %}
        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}_small.jpg"/>
    {% endif %}
    <h3>Auteur :</h3>
    <i><strong>{{ book.auteur }}</strong></i><br/>
    <h3>Résumé :</h3>
    <p>{{ book.synopsis }}</p>
    <div class="emprunt">
        <h2> Exemplaires </h2>
        {% if exemplairesV|length != 0 or exemplairesI|length != 0 %}
            <h3>Nombre d'exemplaires valides : {{ exemplairesV|length}}</h3>
            <ul>
                {% for valid in exemplairesV %}
                    <li> Exemplaire n°{{ valid.id }}
                        {% if app.session.get('admin') == true %}
                            <a class="btn btn-success" href="{{ path('takeExemplar', {id: book.id}) }}">Emprunter ce livre</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <h3>Nombre d'exemplaires invalides : {{ exemplairesI|length}}</h3>
            <ul>
            {% for invalid in exemplairesI %}
                <li class="invalid"> Exemplaire n°{{ invalid.id }} <a class="btn btn-warning" name="Retour" value="Retour" href="ReturnExemplar({{ invalid.id }})"> Retour </a>
                </li>
                
            {% endfor %} 
            </ul>
        {% else %}
            <p> Aucun exemplaire de disponible pour ce livre ! </p>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}