{% set ReturnExemplar_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
<div class="emprunt">
        <h2>Retour d'un exemplaire</h2>
        <p> Merci d'avoir retourné l'exemplaire ! </p>
</div>
{% endblock %}