{% set takeExemplar_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
<div class="emprunt">

        <h2>Emprunter un livre</h2>
        <form method="post"/>
        	Livre_id : <br/> <input type="text" name="id_book" value="{{ app.request.get('id')}}"/> <br />
            Nom: <br/><input type="text" name="nom" /><br />
            Date de début:<br/><input type="date" name="dateD" value="{{ "now"|date("d-m-Y H:i:s") }}"/><br/>
            Date de fin:<br/><input type="date" name="dateF"/>
            <hr/>
            <input type="submit" value="Emprunter" onClick="{{ path('books')}}"/>
        </form>
    </div>
{% endblock %}